
/* DEBUG */

*{
    color: white;
    text-align: center;
    font-weight: bold;
}

h3{
    color: black;
    text-align: left;
}

.row{
    min-height: 40px;

}
#green{
    background-color: rgb(0, 255, 0);

}

#padding{
    padding: 3px;
}